////////////////////
// 基本設定
///////////////////

// 幅関係 --------------------
$width-base: 1040px;
$width-main: 800px;
$width-side: 360px;
$spacing: 8px;
$spacing-xs: 16px;
$spacing-sm: 24px;
$spacing-md: 32px;
$spacing-l: 40px;
$spacing-xl: 48px;
$spacing-xxl: 56px;
$spacing-xxxl: 64px;

// フォント関係 --------------------
$font-base: "Noto Sans JP", sans-serif;
$font-pt: "PT Mono", monospace;
$font-serif: "Yu Mincho", serif;

// 色関係 --------------------
// サイトカラー
$color-main: #D45F5E;
$color-sub: #DAE2DB;
$color-room: #AFC3DE;
$color-fukidashi: #EA99CB;
// フォントカラー
$color-f-base: #000;
$color-f-accent: #fff;
$color-f-main: #959B96;
$color-f-sub: #48A294;
// リンクカラー
$color-link: #FF0000;
$color-link-hover: #C5A97A;
// その他
$color-shadow: #00000080;
$color-boarder: #707070;
// ブレイクポイント --------------------
$breakpoints: (
  xs: "only screen and (max-width: 375px)",
  s: "only screen and (max-width: 435px)",
  m: "only screen and (max-width: 767px)",
  l: "only screen and (max-width: 960px)",
  xl: "only screen and (min-width: 1199px)"
);

// Z-index --------------------
$layer: (
  modal  : 100,
  header : 20,
  tooltip: 10,
  default: 1
);